## Combining data from different sources

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
apple = pd.read_csv('../datasets/apple_london.csv').rename({"Unnamed: 0": 'date', 'driving': 'apple_driving',
                                                  'transit': 'apple_transit', 'walking': 'apple_walking'}, axis=1)
apple.date = pd.to_datetime(apple.date)
apple.set_index('date', inplace=True)
apple

            apple_driving  apple_transit  apple_walking
date
2020-01-13         100.00         100.00         100.00
2020-01-14         107.65         105.14         108.89
2020-01-15         111.20         107.06         116.84
2020-01-16         108.29         106.08         118.82
2020-01-17         115.08         115.13         132.18
...                   ...            ...            ...
2021-07-27         117.89         124.47         114.84
2021-07-28         121.36         124.82         114.32
2021-07-29         124.26         130.50         131.17
2021-07-30         139.94         140.32         132.28
2021-07-31         132.89         150.84         160.81

[566 rows x 3 columns]

In [3]:
citymapper = pd.read_csv('../datasets/citymapper_london.csv').rename({'Date': 'date', 'London': 'citymapper'}, axis=1)
citymapper.date = pd.to_datetime(citymapper.date)
citymapper.set_index('date', inplace=True)
citymapper.citymapper = citymapper.citymapper * 100
citymapper

            citymapper
date
2020-03-02       100.0
2020-03-03       102.0
2020-03-04       100.0
2020-03-05       101.0
2020-03-06        99.0
...                ...
2021-07-27        62.0
2021-07-28        63.0
2021-07-29        65.0
2021-07-30        66.0
2021-07-31        72.0

[517 rows x 1 columns]

In [4]:
google = pd.read_csv('../datasets/google_london.csv').rename({'retail_and_recreation_percent_change_from_baseline': 'google_retail_recreation',
                                                                  'grocery_and_pharmacy_percent_change_from_baseline': 'google_grocery_pharmacy',
                                                                  'parks_percent_change_from_baseline': 'google_parks',
                                                                  'transit_stations_percent_change_from_baseline': 'google_transit',
                                                                  'workplaces_percent_change_from_baseline': 'google_workplaces',
                                                                  'residential_percent_change_from_baseline': 'google_residential'}, axis=1)
google.date = pd.to_datetime(google.date)
google.set_index('date', inplace=True)
google += 100
google

,google_retail_recreation,google_grocery_pharmacy,google_parks,google_transit,google_workplaces,google_residential
date,,,,,,
2020-02-15,89.0,92.0,66.0,90.0,97.0,102.0
2020-02-16,91.0,89.0,59.0,91.0,96.0,101.0
2020-02-17,111.0,104.0,128.0,97.0,87.0,102.0
2020-02-18,104.0,98.0,111.0,96.0,87.0,102.0
2020-02-19,103.0,97.0,103.0,95.0,87.0,103.0
...,...,...,...,...,...,...
2021-07-27,71.0,94.0,122.0,52.0,49.0,114.0
2021-07-28,68.0,90.0,99.0,51.0,50.0,114.0
2021-07-29,75.0,99.0,143.0,54.0,51.0,112.0
2021-07-30,67.0,93.0,89.0,55.0,51.0,113.0
2021-07-31,67.0,89.0,93.0,67.0,88.0,102.0

In [5]:
tomtom = pd.read_csv('../datasets/tomtom_london.csv').rename({'diffRatio': 'tomtom'}, axis=1)
tomtom.drop('congestion', axis=1, inplace=True)
#tomtom.date = pd.to_datetime(tomtom.date)
tomtom['date'] = pd.to_datetime(tomtom.date)
tomtom.set_index('date', inplace=True)
tomtom.tomtom *= 100
tomtom.tomtom += 100
tomtom

                tomtom
date
2019-12-30   63.636364
2019-12-31   54.054054
2020-01-01   28.947368
2020-01-02   48.717949
2020-01-03   57.894737
...                ...
2021-07-27   78.378378
2021-07-28   89.473684
2021-07-29   84.615385
2021-07-30  100.000000
2021-07-31  107.142857

[576 rows x 1 columns]

In [6]:
waze = pd.read_csv('../datasets/waze_london.csv').rename({'Date': 'date',
                                               '% Change In Waze Driven Miles/KMs': 'waze'}, axis=1)
#waze.date = pd.to_datetime(waze.date)
waze['date'] = pd.to_datetime(waze.date)
waze.set_index('date', inplace=True)
waze.waze *= 100
waze.waze += 100
waze

             waze
date
2020-03-01  105.0
2020-03-02   99.0
2020-03-03  100.0
2020-03-04  102.0
2020-03-05  104.0
...           ...
2021-07-16  102.0
2021-07-17  105.0
2021-07-18  110.0
2021-07-19  108.0
2021-07-20  105.0

[506 rows x 1 columns]

In [17]:
tfl = pd.read_csv('../datasets/TfL.csv')
tfl.date = pd.to_datetime(tfl.date)
tfl = tfl.set_index('date').multiply(100)
tfl

            TfL_Tube  TfL_Bus
date
2020-03-01     104.0    102.0
2020-03-02      95.0     97.0
2020-03-03      95.0     96.0
2020-03-04      95.0     97.0
2020-03-05      92.0     92.0
...              ...      ...
2021-07-27      44.0     66.0
2021-07-28      46.0     62.0
2021-07-29      49.0     66.0
2021-07-30      47.0     64.0
2021-07-31      49.0     68.0

[518 rows x 2 columns]

In [24]:
tfl_bike = pd.read_csv('../datasets/TfL_cycle_index.csv').rename({'Unnamed: 0': 'date', 'total': 'TfL_Bike'}, axis=1)
tfl_bike.date = pd.to_datetime(tfl_bike.date)
tfl_bike = tfl_bike.set_index('date')
tfl_bike

              TfL_Bike
date
2020-01-01   56.030074
2020-01-02   86.671976
2020-01-03   88.285106
2020-01-04  112.607117
2020-01-05   90.750832
...                ...
2021-07-27  133.806619
2021-07-28   69.120519
2021-07-29  105.168037
2021-07-30   72.680658
2021-07-31   89.852612

[578 rows x 1 columns]

In [25]:
all_sets = pd.concat((apple, citymapper, google, tomtom, waze, tfl, tfl_bike), axis=1, verify_integrity=True)
all_sets.to_csv('../datasets/all_london.csv')
all_sets

,apple_driving,apple_transit,apple_walking,citymapper,google_retail_recreation,google_grocery_pharmacy,google_parks,google_transit,google_workplaces,google_residential,tomtom,waze,TfL_Tube,TfL_Bus,TfL_Bike
date,,,,,,,,,,,,,,,
2019-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.636364,NaN,NaN,NaN,NaN
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.054054,NaN,NaN,NaN,NaN
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.947368,NaN,NaN,NaN,56.030074
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.717949,NaN,NaN,NaN,86.671976
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.894737,NaN,NaN,NaN,88.285106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-27,117.89,124.47,114.84,62.0,71.0,94.0,122.0,52.0,49.0,114.0,78.378378,NaN,44.0,66.0,133.806619
2021-07-28,121.36,124.82,114.32,63.0,68.0,90.0,99.0,51.0,50.0,114.0,89.473684,NaN,46.0,62.0,69.120519
2021-07-29,124.26,130.50,131.17,65.0,75.0,99.0,143.0,54.0,51.0,112.0,84.615385,NaN,49.0,66.0,105.168037
2021-07-30,139.94,140.32,132.28,66.0,67.0,93.0,89.0,55.0,51.0,113.0,100.000000,NaN,47.0,64.0,72.680658
2021-07-31,132.89,150.84,160.81,72.0,67.0,89.0,93.0,67.0,88.0,102.0,107.142857,NaN,49.0,68.0,89.852612

In [18]:
all_sets.waze

date
2019-12-30   NaN
2019-12-31   NaN
2020-01-01   NaN
2020-01-02   NaN
2020-01-03   NaN
              ..
2021-07-27   NaN
2021-07-28   NaN
2021-07-29   NaN
2021-07-30   NaN
2021-07-31   NaN
Freq: D, Name: waze, Length: 580, dtype: float64

In [26]:
all_sets.corr()

,apple_driving,apple_transit,apple_walking,citymapper,google_retail_recreation,google_grocery_pharmacy,google_parks,google_transit,google_workplaces,google_residential,tomtom,waze,TfL_Tube,TfL_Bus,TfL_Bike
apple_driving,1.000000,0.914949,0.898877,0.856663,0.846510,0.683389,0.410154,0.748484,0.532896,-0.696911,0.860859,0.918914,0.762795,0.786026,0.181198
apple_transit,0.914949,1.000000,0.962750,0.935682,0.869914,0.706422,0.293349,0.808708,0.616485,-0.752008,0.840870,0.890076,0.855150,0.843703,0.155626
apple_walking,0.898877,0.962750,1.000000,0.915421,0.862595,0.679123,0.307217,0.835903,0.650652,-0.764872,0.791016,0.833890,0.843929,0.822602,0.222945
citymapper,0.856663,0.935682,0.915421,1.000000,0.946278,0.724881,0.273932,0.945938,0.696413,-0.800422,0.838162,0.855636,0.972122,0.949661,0.192429
google_retail_recreation,0.846510,0.869914,0.862595,0.946278,1.000000,0.743636,0.285751,0.924772,0.642314,-0.750809,0.794522,0.863136,0.924764,0.935286,0.093999
google_grocery_pharmacy,0.683389,0.706422,0.679123,0.724881,0.743636,1.000000,0.345072,0.709515,0.479444,-0.534333,0.748454,0.747395,0.717787,0.755231,0.115231
google_parks,0.410154,0.293349,0.307217,0.273932,0.285751,0.345072,1.000000,0.179759,0.010865,-0.201600,0.223956,0.355498,0.177391,0.304018,0.403256
google_transit,0.748484,0.808708,0.835903,0.945938,0.924772,0.709515,0.179759,1.000000,0.824560,-0.845608,0.749096,0.762355,0.950987,0.927422,0.153290
google_workplaces,0.532896,0.616485,0.650652,0.696413,0.642314,0.479444,0.010865,0.824560,1.000000,-0.938995,0.568754,0.474274,0.694480,0.633671,0.351934
google_residential,-0.696911,-0.752008,-0.764872,-0.800422,-0.750809,-0.534333,-0.201600,-0.845608,-0.938995,1.000000,-0.673398,-0.618305,-0.760080,-0.751636,-0.407589
tomtom,0.860859,0.840870,0.791016,0.838162,0.794522,0.748454,0.223956,0.749096,0.568754,-0.673398,1.000000,0.915935,0.777318,0.800350,0.100116
waze,0.918914,0.890076,0.833890,0.855636,0.863136,0.747395,0.355498,0.762355,0.474274,-0.618305,0.915935,1.000000,0.791662,0.838351,0.106793
TfL_Tube,0.762795,0.855150,0.843929,0.972122,0.924764,0.717787,0.177391,0.950987,0.694480,-0.760080,0.777318,0.791662,1.000000,0.956309,0.155980
TfL_Bus,0.786026,0.843703,0.822602,0.949661,0.935286,0.755231,0.304018,0.927422,0.633671,-0.751636,0.800350,0.838351,0.956309,1.000000,0.226763
TfL_Bike,0.181198,0.155626,0.222945,0.192429,0.093999,0.115231,0.403256,0.153290,0.351934,-0.407589,0.100116,0.106793,0.155980,0.226763,1.000000