## Waze Processing

In [34]:
import pandas as pd
import numpy as np
from datetime import datetime

In [35]:
waze_old = pd.read_csv('../prelim_data/data_sources/Waze | COVID-19 Impact Dashboard_City-Level Data_Table.csv', index_col=0)
#waze.drop(['City', 'Country'], axis=1, inplace=True)
waze_old

               City         Country  % Change In Waze Driven Miles/KMs
Date
Mar 1, 2020  London  United Kingdom                               0.05
Mar 2, 2020  London  United Kingdom                              -0.01
Mar 3, 2020  London  United Kingdom                               0.00
Mar 4, 2020  London  United Kingdom                               0.02
Mar 5, 2020  London  United Kingdom                               0.04
...             ...             ...                                ...
Jun 5, 2021  London  United Kingdom                               0.10
Jun 6, 2021  London  United Kingdom                               0.12
Jun 7, 2021  London  United Kingdom                               0.04
Jun 8, 2021  London  United Kingdom                               0.08
Jun 9, 2021  London  United Kingdom                               0.06

[466 rows x 3 columns]

In [36]:
waze = pd.read_csv('../data_sources/Waze_City-Level_Data.csv')
waze['Date'] = pd.to_datetime(waze['Date'].apply(lambda x: datetime.strftime(datetime.strptime(x, '%b %d, %Y'), '%Y-%m-%d')))
waze

,Date,City,Country,% Change In Waze Driven Miles/KMs
0,2021-07-20,Jakarta,Indonesia,-0.77
1,2021-07-20,South Tangerang,Indonesia,-0.76
2,2021-07-20,Petaling Jaya,Malaysia,-0.65
3,2021-07-20,Bekasi,Indonesia,-0.62
4,2021-07-20,Kuala Lumpur,Malaysia,-0.60
...,...,...,...,...
71437,2020-03-01,Gold Coast,Australia,0.26
71438,2020-03-01,Minneapolis,United States,0.26
71439,2020-03-01,Porto Alegre,Brazil,0.29
71440,2020-03-01,Cape Town,South Africa,0.35
71441,2020-03-01,Stockholm,Sweden,0.37

In [44]:
london = waze.loc[waze.City=='London']
london = london.sort_values('Date').set_index('Date').drop(['City', 'Country'], axis=1)
london

            % Change In Waze Driven Miles/KMs
Date
2020-03-01                               0.05
2020-03-02                              -0.01
2020-03-03                               0.00
2020-03-04                               0.02
2020-03-05                               0.04
...                                       ...
2021-07-16                               0.02
2021-07-17                               0.05
2021-07-18                               0.10
2021-07-19                               0.08
2021-07-20                               0.05

[506 rows x 1 columns]

In [45]:
london.to_csv('../datasets/waze_london.csv')

In [52]:
new_york = waze.loc[waze.City=='New York']
new_york = new_york.sort_values('Date').set_index('Date').drop(['City', 'Country'], axis=1)
new_york

            % Change In Waze Driven Miles/KMs
Date
2020-03-01                               0.04
2020-03-02                               0.04
2020-03-03                              -0.01
2020-03-04                               0.04
2020-03-05                               0.04
...                                       ...
2021-07-16                               0.05
2021-07-17                               0.05
2021-07-18                               0.04
2021-07-19                               0.15
2021-07-20                               0.06

[506 rows x 1 columns]

In [53]:
new_york.to_csv('../datasets/waze_new_york.csv')

In [55]:
sydney = waze.loc[waze.City=='Sydney']
sydney = sydney.sort_values('Date').set_index('Date').drop(['City', 'Country'], axis=1)
sydney

            % Change In Waze Driven Miles/KMs
Date
2020-03-01                               0.08
2020-03-02                              -0.03
2020-03-03                              -0.09
2020-03-04                               0.06
2020-03-05                              -0.06
...                                       ...
2021-07-16                              -0.39
2021-07-17                              -0.38
2021-07-18                              -0.54
2021-07-19                              -0.28
2021-07-20                              -0.54

[506 rows x 1 columns]

In [56]:
sydney.to_csv('../datasets/waze_sydney.csv')

In [63]:
# No Hong Kong
sorted(waze.City.unique())

['Amsterdam',
 'Antwerp',
 'Atlanta',
 'Austin',
 'Baltimore',
 'Barcelona',
 "Be'er Sheva",
 'Bekasi',
 'Belo Horizonte',
 'Berlin',
 'Birmingham',
 'Bogota',
 'Bordeaux',
 'Boston',
 'Brasilia',
 'Bratislava',
 'Brisbane',
 'Bristol',
 'Brno',
 'Brussels',
 'Bucharest',
 'Budapest',
 'Buenos Aires',
 'Calgary',
 'Cali',
 'Cambridge',
 'Cape Town',
 'Charlotte',
 'Chicago',
 'Cincinnati',
 'Curitiba',
 'Dallas',
 'Denver',
 'Detroit',
 'Doha',
 'Florianopolis',
 'Fort Lauderdale',
 'Fort Worth',
 'Fortaleza',
 'Ghent',
 'Gold Coast',
 'Guadalajara',
 'Guarulhos',
 'Haifa',
 'Hamilton',
 'Hartford',
 'Houston',
 'Ipoh',
 'Irvine',
 'Jakarta',
 'Jersey City',
 'Jerusalem',
 'Johor Bahru',
 'Kaunas',
 'Krakow',
 'Kuala Lumpur',
 'Kyiv',
 'Las Condes',
 'Lille',
 'Lima',
 'Lisbon',
 'Liverpool',
 'London',
 'Los Angeles',
 'Luton',
 'Lviv',
 'Lyon',
 'Madrid',
 'Maipu',
 'Makati',
 'Manchester',
 'Manila',
 'Marseille',
 'Medellin',
 'Melbourne',
 'Mexico City',
 'Miami',
 'Miami Beach',
 'Milan',
 'Minneapolis',
 'Mississauga',
 'Monterrey',
 'Montevideo',
 'Montreal',
 'Nashville',
 'New Orleans',
 'New York',
 'Oakland',
 'Orlando',
 'Ottawa',
 'Paris',
 'Perth',
 'Petah Tikva',
 'Petaling Jaya',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Portland',
 'Porto Alegre',
 'Prague',
 'Puchong',
 'Puebla City',
 'Quebec City',
 'Quezon City',
 'Quito',
 'Raleigh',
 'Ramat Gan',
 'Recife',
 'Riga',
 'Rio De Janeiro',
 'Rishon Letsiyon',
 'Rome',
 'Rotterdam',
 'Sacramento',
 'Salvador',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'San Jose',
 'Santiago',
 'Santiago De Queretaro',
 'Sao Paulo',
 'Seattle',
 'Shah Alam',
 'Singapore',
 'South Tangerang',
 'Stamford',
 'Stockholm',
 'Sydney',
 'Tampa',
 'Tangerang',
 'Tel Aviv-Yafo',
 'Toronto',
 'Toulouse',
 'Vaughan',
 'Vilnius',
 'Vitoria',
 'Warsaw',
 'Washington',
 'Yonkers',
 'Zapopan']

In [27]:
for date in waze_old.index:
    if waze_old.loc[date,'% Change In Waze Driven Miles/KMs']!=float(london.loc[london.Date == date,'% Change In Waze Driven Miles/KMs']):
        print(date)
# No print == new data is the same as old!

In [46]:
# First Lockdown
london.loc['2020-03-23':'2020-05-13'].mean()
#waze.loc['Mar 1, 2020':'Mar 5, 2020']

% Change In Waze Driven Miles/KMs   -0.659038
dtype: float64

In [48]:
# Second lockdown
london.loc['2020-11-05':'2020-12-02'].mean()

% Change In Waze Driven Miles/KMs   -0.262857
dtype: float64

In [50]:
# Third lockdown
london.loc['2020-12-10':'2021-03-08'].mean()

% Change In Waze Driven Miles/KMs   -0.303933
dtype: float64